.myclass{
  color: red;
  background-color: aquamarine;
}
.nav-item .active{
  font-weight: bold;
  border-bottom:  2px solid crimson;
  color: crimson;
}

.list-back{
  background-image: url("/public/tech.jpeg");
  background-size: cover;
  /* min-height: vh100; */
}